In [11]:
import recordlinkage
import pandas as pd
import numpy

In [12]:
final = pd.read_csv("./src/final_dataset.csv")

In [13]:
chunks = []
for i,chunk in enumerate(pd.read_csv("./src/final_dataset.csv", chunksize=5000)):
    chunk.to_csv('./src/split_csv_pandas/chunk{}.csv'.format(i), index=False)
    chunks.append(chunk)

In [14]:
chunks

[          ID                          name         country  \
 0        0.0                      LACEWORK   UNITED STATES
 1        1.0                       TIPALTI   UNITED STATES
 2        2.0                        TEMPUS   UNITED STATES
 3        3.0                       ANDURIL   UNITED STATES
 4        4.0                          BOLT         ESTONIA
 ...      ...                           ...             ...
 4995  4995.0             MERCHANTS BANCORP             USA
 4996  4996.0  HANGZHOU SHUNWANG TECHNOLOGY           CHINA
 4997  4997.0                    ODONTOPREV          BRAZIL
 4998  4998.0                    VALNEVA SE          FRANCE
 4999  4999.0                     ASCENTIAL  UNITED-KINGDOM

                           sector  founded     marketcap  revenue  employees  \
 0                  CYBERSECURITY   2015.0           NaN      NaN        NaN
 1                        FINTECH   2010.0           NaN      NaN        NaN
 2                         HEALTH   2015.0           NaN      NaN        NaN
 3        ARTIFICIAL INTELLIGENCE   2017.0           NaN      NaN        NaN
 4          AUTO & TRANSPORTATION   2013.0           NaN      NaN        NaN
 ...                          ...      ...           ...      ...        ...
 4995   BANKS FINANCIAL-SERVICES       NaN  1.100000e+09      NaN        NaN
 4996  VIDEO-GAMES ENTERTAINMENT       NaN  1.110000e+09      NaN        NaN
 4997                         NaN      NaN  1.100000e+09      NaN        NaN
 4998    PHARMACEUTICALS BIOTECH       NaN  1.100000e+09      NaN        NaN
 4999                ADVERTISING       NaN  1.110000e+09      NaN        NaN

       links  ceo
 0       NaN  NaN
 1       NaN  NaN
 2       NaN  NaN
 3       NaN  NaN
 4       NaN  NaN
 ...     ...  ...
 4995    NaN  NaN
 4996    NaN  NaN
 4997    NaN  NaN
 4998    NaN  NaN
 4999    NaN  NaN

 [5000 rows x 10 columns],
           ID                          name              country  \
 5000  5000.0            NICOLET BANKSHARES                  USA
 5001  5001.0           PATRIZIA IMMOBILIEN              GERMANY
 5002  5002.0                  CVR PARTNERS                  USA
 5003  5003.0          SUN COUNTRY AIRLINES                  USA
 5004  5004.0  MIRAMAR HOTEL AND INVESTMENT            HONG-KONG
 ...      ...                           ...                  ...
 9995  9995.0          EZE SOFTWARE CAREERS  GREATER BOSTON AREA
 9996  9996.0                 DELIV CAREERS           MENLO PARK
 9997  9997.0            COMMERCEIQ CAREERS        MOUNTAIN VIEW
 9998  9998.0       FIRST ADVANTAGE CAREERS              ATLANTA
 9999  9999.0               GOSHARE CAREERS            SAN DIEGO

                                  sector  founded     marketcap  revenue  \
 5000          BANKS FINANCIAL-SERVICES       NaN  1.110000e+09      NaN
 5001                       REAL-ESTATE       NaN  1.100000e+09      NaN
 5002                        FERTILIZER       NaN  1.110000e+09      NaN
 5003    AIRLINES TRAVEL TRANSPORTATION       NaN  1.100000e+09      NaN
 5004          HOTELS INVESTMENT TRAVEL       NaN  1.100000e+09      NaN
 ...                                 ...      ...           ...      ...
 9995                  COMPUTER SOFTWARE   1995.0           NaN      NaN
 9996                           INTERNET   2012.0           NaN      NaN
 9997                  COMPUTER SOFTWARE   2013.0           NaN      NaN
 9998  INFORMATION TECHNOLOGY & SERVICES   2003.0           NaN      NaN
 9999                           INTERNET   2014.0           NaN      NaN

       employees             links  ceo
 5000        NaN               NaN  NaN
 5001        NaN               NaN  NaN
 5002        NaN               NaN  NaN
 5003        NaN               NaN  NaN
 5004        NaN               NaN  NaN
 ...         ...               ...  ...
 9995      750.0   WWW.EZESOFT.COM  NaN
 9996       25.0      WWW.DELIV.CO  NaN
 9997      125.0  WWW.COMMERCEIQ.A  NaN
 9998     3000.0      WWW.FADV.COM  NaN
 9999       25.0    WWW.GOSHARE.CO  NaN

 [5000 rows x 10 columns],
             ID                         name        country  \
 10000  10000.0            SI-VISION CAREERS         LONDON
 10001  10001.0     HEALTHFIRST INC. CAREERS       NEW YORK
 10002  10002.0              TALKDOC CAREERS  SAN FRANCISCO
 10003  10003.0            CALLMINER CAREERS        WALTHAM
 10004  10004.0      ALASKA AIRLINES CAREERS        SEATTLE
 ...        ...                          ...            ...
 14995  14995.0                    RTL GROUP     LUXEMBOURG
 14996  14996.0                        KESKO        FINLAND
 14997  14997.0           SAMSUNG SECURITIES    SOUTH KOREA
 14998  14998.0              QUANTA SERVICES          TEXAS
 14999  14999.0  BEIJING CAPITAL DEVELOPMENT          CHINA

                        sector  founded  marketcap       revenue  employees  \
 10000          SEMICONDUCTORS   2007.0        NaN           NaN      350.0
 10001  HOSPITAL & HEALTH CARE   1993.0        NaN           NaN     3000.0
 10002  HOSPITAL & HEALTH CARE   2018.0        NaN           NaN       25.0
 10003       COMPUTER SOFTWARE   2002.0        NaN           NaN      350.0
 10004    AVIATION & AEROSPACE   1932.0        NaN           NaN     5000.0
 ...                       ...      ...        ...           ...        ...
 14995                   MEDIA   1973.0        NaN  7.800000e+09        NaN
 14996            FOOD MARKETS   1940.0        NaN  1.340000e+10        NaN
 14997  DIVERSIFIED FINANCIALS   1982.0        NaN  2.100000e+09        NaN
 14998            CONSTRUCTION   1997.0        NaN  1.300000e+10        NaN
 14999            CONSTRUCTION   1993.0        NaN  1.000000e+10        NaN

                      links  ceo
 10000    WWW.SI-VISION.COM  NaN
 10001  WWW.HEALTHFIRST.ORG  NaN
 10002       WWW.TALKDOC.CO  NaN
 10003    WWW.CALLMINER.COM  NaN
 10004    WWW.ALASKAAIR.COM  NaN
 ...                    ...  ...
 14995                  NaN  NaN
 14996                  NaN  NaN
 14997                  NaN  NaN
 14998                  NaN  NaN
 14999                  NaN  NaN

 [5000 rows x 10 columns],
             ID                              name     country  \
 15000  15000.0                  FAR EAST HORIZON   HONG KONG
 15001  15001.0                          FAURECIA      FRANCE
 15002  15002.0            INDIAN RAILWAY FINANCE       INDIA
 15003  15003.0                 LIBERTY BROADBAND    COLORADO
 15004  15004.0  XIAMEN INTERNATIONAL TRADE GROUP       CHINA
 ...        ...                               ...         ...
 19995  19995.0                             NUVEI      CANADA
 19996  19996.0            COCA-COLA CONSOLIDATED         USA
 19997  19997.0    COMPANHIA SIDERÃšRGICA NACIONAL      BRAZIL
 19998  19998.0                        CYBERAGENT       JAPAN
 19999  19999.0                           WAYFAIR         USA

                                       sector  founded     marketcap  \
 15000           BUSINESS SERVICES & SUPPLIES   2008.0           NaN
 15001  AUTOMOTIVE (AUTOMOTIVE AND SUPPLIERS)   1997.0           NaN
 15002           BUSINESS SERVICES & SUPPLIES   1986.0           NaN
 15003            TELECOMMUNICATIONS SERVICES   1991.0           NaN
 15004                      TRADING COMPANIES      NaN           NaN
 ...                                      ...      ...           ...
 19995                                    NaN      NaN  4.630000e+09
 19996                                    NaN      NaN  4.630000e+09
 19997                                    NaN      NaN  4.630000e+09
 19998                                    NaN      NaN  4.630000e+09
 19999                                    NaN      NaN  4.630000e+09

             revenue  employees  links  ceo
 15000  5.500000e+09        NaN    NaN  NaN
 15001  1.850000e+10        NaN    NaN  NaN
 15002  2.500000e+09        NaN    NaN  NaN
 15003  9.880000e+08        NaN    NaN  NaN
 15004  7.200000e+10        NaN    NaN  NaN
 ...             ...        ...    ...  ...
 19995           NaN        NaN    NaN  NaN
 19996           NaN        NaN    NaN  NaN
 19997           NaN        NaN    NaN  NaN
 19998           NaN        NaN    NaN  NaN
 19999           NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                              name        country  \
 20000  20000.0               IAC/INTERACTIVECORP            USA
 20001  20001.0               FOX FACTORY HOLDING            USA
 20002  20002.0                       KITE REALTY            USA
 20003  20003.0  INTERMEDIATE CAPITAL GROUP (ICG)             UK
 20004  20004.0                               AAK         SWEDEN
 ...        ...                               ...            ...
 24995  24995.0                            AXA SA         FRANCE
 24996  24996.0             DOMINION ENERGY, INC.  UNITED STATES
 24997  24997.0                          ENEL SPA          ITALY
 24998  24998.0                    BNP PARIBAS SA         FRANCE
 24999  24999.0     AMÃ‰RICA MÃ“VIL, S.A.B. DE C.V.         MEXICO

                        sector  founded     marketcap  revenue  employees  \
 20000                     NaN      NaN  4.630000e+09      NaN        NaN
 20001                     NaN      NaN  4.620000e+09      NaN        NaN
 20002                     NaN      NaN  4.610000e+09      NaN        NaN
 20003                     NaN      NaN  4.610000e+09      NaN        NaN
 20004                     NaN      NaN  4.600000e+09      NaN        NaN
 ...                       ...      ...           ...      ...        ...
 24995              FINANCIALS      NaN  7.020000e+10      NaN        NaN
 24996               UTILITIES      NaN  7.020000e+10      NaN        NaN
 24997               UTILITIES      NaN  7.015000e+10      NaN        NaN
 24998              FINANCIALS      NaN  6.990000e+10      NaN        NaN
 24999  COMMUNICATION SERVICES      NaN           NaN      NaN        NaN

        links  ceo
 20000    NaN  NaN
 20001    NaN  NaN
 20002    NaN  NaN
 20003    NaN  NaN
 20004    NaN  NaN
 ...      ...  ...
 24995    NaN  NaN
 24996    NaN  NaN
 24997    NaN  NaN
 24998    NaN  NaN
 24999    NaN  NaN

 [5000 rows x 10 columns],
             ID                                         name        country  \
 25000  25000.0                               PUBLIC STORAGE  UNITED STATES
 25001  25001.0                                 UBS GROUP AG    SWITZERLAND
 25002  25002.0                      SBERBANK OF RUSSIA PJSC         RUSSIA
 25003  25003.0                                 FISERV, INC.  UNITED STATES
 25004  25004.0                                IBERDROLA, SA          SPAIN
 ...        ...                                          ...            ...
 29995  29995.0             TIANJIN CHASE SUN PHARMACEUTICAL          CHINA
 29996  29996.0                PGE POLSKA GRUPA ENERGETYCZNA         POLAND
 29997  29997.0                                  CIMIC GROUP      AUSTRALIA
 29998  29998.0  BANGKOK EXPRESSWAY AND METRO PUBLIC COMPANY       THAILAND
 29999  29999.0                  DMG MORI AKTIENGESELLSCHAFT        GERMANY

             sector  founded     marketcap  revenue  employees  links  ceo
 25000  REAL ESTATE      NaN  6.931000e+10      NaN        NaN    NaN  NaN
 25001   FINANCIALS      NaN  6.893000e+10      NaN        NaN    NaN  NaN
 25002   FINANCIALS      NaN  6.869000e+10      NaN        NaN    NaN  NaN
 25003   TECHNOLOGY      NaN  6.868000e+10      NaN        NaN    NaN  NaN
 25004    UTILITIES      NaN  6.823000e+10      NaN        NaN    NaN  NaN
 ...            ...      ...           ...      ...        ...    ...  ...
 29995          NaN      NaN  2.019000e+09      NaN        NaN    NaN  NaN
 29996          NaN      NaN  5.023000e+09      NaN        NaN    NaN  NaN
 29997          NaN      NaN  4.897000e+09      NaN        NaN    NaN  NaN
 29998          NaN      NaN  4.004000e+09      NaN        NaN    NaN  NaN
 29999          NaN      NaN  3.925000e+09      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                                             name    country  \
 30000  30000.0                       CHINA TRANSINFO TECHNOLOGY      CHINA
 30001  30001.0                                   AMERIS BANCORP        USA
 30002  30002.0                                      HILLENBRAND        USA
 30003  30003.0                               ZARDOYA OTIS, S.A.      SPAIN
 30004  30004.0               TASLY PHARMACEUTICAL GROUP CO. LTD      CHINA
 ...        ...                                              ...        ...
 34995  34995.0                PT METRO HEALTHCARE INDONESIA TBK  INDONESIA
 34996  34996.0                                RAPT THERAPEUTICS        USA
 34997  34997.0                          STANDARD MOTOR PRODUCTS        USA
 34998  34998.0  CHINA TRAVEL INTERNATIONAL INVESTMENT HONG KONG  HONG KONG
 34999  34999.0                                         FLEX LNG    BERMUDA

        sector  founded     marketcap  revenue  employees  links  ceo
 30000     NaN      NaN  3.664000e+09      NaN        NaN    NaN  NaN
 30001     NaN      NaN  3.435000e+09      NaN        NaN    NaN  NaN
 30002     NaN      NaN  3.390000e+09      NaN        NaN    NaN  NaN
 30003     NaN      NaN  3.116000e+09      NaN        NaN    NaN  NaN
 30004     NaN      NaN  3.013000e+09      NaN        NaN    NaN  NaN
 ...       ...      ...           ...      ...        ...    ...  ...
 34995     NaN      NaN  9.730000e+08      NaN        NaN    NaN  NaN
 34996     NaN      NaN  9.640000e+08      NaN        NaN    NaN  NaN
 34997     NaN      NaN  9.530000e+08      NaN        NaN    NaN  NaN
 34998     NaN      NaN  8.210000e+08      NaN        NaN    NaN  NaN
 34999     NaN      NaN  8.210000e+08      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                                         name    country sector  \
 35000  35000.0  HANGZHOU ELECTRONIC SOUL NETWORK TECHNOLOGY      CHINA    NaN
 35001  35001.0                         URBAN LOGISTICS REIT         UK    NaN
 35002  35002.0                                 MSG NETWORKS        USA    NaN
 35003  35003.0        STAIDSON (BEIJING) BIOPHARMACEUTICALS      CHINA    NaN
 35004  35004.0                                       SUNWAY      CHINA    NaN
 ...        ...                                          ...        ...    ...
 39995  39995.0                            ICAHN ENTERPRISES        USA    NaN
 39996  39996.0             SAUDI ARABIAN FERTILIZER COMPANY  S. ARABIA    NaN
 39997  39997.0                            CHONGQING CHANGAN      CHINA    NaN
 39998  39998.0                                     TSINGTAO      CHINA    NaN
 39999  39999.0                                          ZTE      CHINA    NaN

        founded     marketcap  revenue  employees  links  ceo
 35000      NaN  8.080000e+08      NaN        NaN    NaN  NaN
 35001      NaN  8.030000e+08      NaN        NaN    NaN  NaN
 35002      NaN  8.410000e+08      NaN        NaN    NaN  NaN
 35003      NaN  7.880000e+08      NaN        NaN    NaN  NaN
 35004      NaN  5.050000e+08      NaN        NaN    NaN  NaN
 ...        ...           ...      ...        ...    ...  ...
 39995      NaN  1.704000e+10      NaN        NaN    NaN  NaN
 39996      NaN  1.694000e+10      NaN        NaN    NaN  NaN
 39997      NaN  1.694000e+10      NaN        NaN    NaN  NaN
 39998      NaN  1.692000e+10      NaN        NaN    NaN  NaN
 39999      NaN  1.692000e+10      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                   name      country  sector  founded  \
 40000  40000.0          SWEDISH MATCH       SWEDEN     NaN      NaN
 40001  40001.0                GEBERIT  SWITZERLAND     NaN      NaN
 40002  40002.0            LIVE NATION          USA     NaN      NaN
 40003  40003.0           SUZUKI MOTOR        JAPAN     NaN      NaN
 40004  40004.0               AVANGRID          USA     NaN      NaN
 ...        ...                    ...          ...     ...      ...
 44995  44995.0        THE JOINT CORP.          USA     NaN      NaN
 44996  44996.0              URBAN ONE          USA     NaN      NaN
 44997  44997.0  KIMBALL INTERNATIONAL          USA     NaN      NaN
 44998  44998.0   BIG 5 SPORTING GOODS          USA     NaN      NaN
 44999  44999.0                  BANK7          USA     NaN      NaN

           marketcap  revenue  employees  links  ceo
 40000  1.691000e+10      NaN        NaN    NaN  NaN
 40001  1.688000e+10      NaN        NaN    NaN  NaN
 40002  1.687000e+10      NaN        NaN    NaN  NaN
 40003  1.683000e+10      NaN        NaN    NaN  NaN
 40004  1.682000e+10      NaN        NaN    NaN  NaN
 ...             ...      ...        ...    ...  ...
 44995  2.300000e+08      NaN        NaN    NaN  NaN
 44996  2.300000e+08      NaN        NaN    NaN  NaN
 44997  2.300000e+08      NaN        NaN    NaN  NaN
 44998  2.300000e+08      NaN        NaN    NaN  NaN
 44999  2.300000e+08      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                      name     country                sector  \
 45000  45000.0          TEN SQUARE GAMES      POLAND                   NaN
 45001  45001.0      E INC (E AUTOMOTIVE)      CANADA                   NaN
 45002  45002.0                  RALLYBIO         USA                   NaN
 45003  45003.0           ALEMBIC LIMITED       INDIA                   NaN
 45004  45004.0      VINTAGE WINE ESTATES         USA                   NaN
 ...        ...                       ...         ...                   ...
 49995  49995.0                     BAYWA      MUNICH     FARMING & FISHING
 49996  49996.0  BBS KRAFTFAHRZEUGTECHNIK   SCHILTACH            AUTO PARTS
 49997  49997.0                   BECHTLE  NECKARSULM              SOFTWARE
 49998  49998.0            BECK'S BREWERY      BREMEN               BREWERS
 49999  49999.0        BEHR GMBH & CO. KG   STUTTGART  INDUSTRIAL SUPPLIERS

        founded    marketcap  revenue  employees  links  ceo
 45000      NaN  230000000.0      NaN        NaN    NaN  NaN
 45001      NaN  230000000.0      NaN        NaN    NaN  NaN
 45002      NaN  230000000.0      NaN        NaN    NaN  NaN
 45003      NaN  230000000.0      NaN        NaN    NaN  NaN
 45004      NaN  230000000.0      NaN        NaN    NaN  NaN
 ...        ...          ...      ...        ...    ...  ...
 49995   1923.0          NaN      NaN        NaN    NaN  NaN
 49996   1970.0          NaN      NaN        NaN    NaN  NaN
 49997   1983.0          NaN      NaN        NaN    NaN  NaN
 49998   1873.0          NaN      NaN        NaN    NaN  NaN
 49999   1905.0          NaN      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                      name               country  \
 50000  50000.0                 BEHRINGER               WILLICH
 50001  50001.0                BEIERSDORF               HAMBURG
 50002  50002.0      BELLEVUE INVESTMENTS                BERLIN
 50003  50003.0            BENECKE-KALIKO               HANOVER
 50004  50004.0               BERTELSMANN             GÃœTERSLOH
 ...        ...                       ...                   ...
 54995  54995.0                       KIA           SOUTH KOREA
 54996  54996.0                   ALEMBIC                   NaN
 54997  54997.0   TATA ADVANCED MATERIALS                 INDIA
 54998  54998.0  SERVION GLOBAL SOLUTIONS   UNITED STATES (USA)
 54999  54999.0            ONKAR INFOTECH                 INDIA

                              sector  founded  marketcap  revenue  employees  \
 50000          CONSUMER ELECTRONICS   1989.0        NaN      NaN        NaN
 50001             PERSONAL PRODUCTS   1882.0        NaN      NaN        NaN
 50002                      SOFTWARE   1993.0        NaN      NaN        NaN
 50003          INDUSTRIAL SUPPLIERS   1718.0        NaN      NaN        NaN
 50004  BROADCASTING & ENTERTAINMENT   1835.0        NaN      NaN        NaN

In [15]:
first_pairs_subsets = []
chunk_slice1 = chunks[0:18]
chunk_slice1

[          ID                          name         country  \
 0        0.0                      LACEWORK   UNITED STATES
 1        1.0                       TIPALTI   UNITED STATES
 2        2.0                        TEMPUS   UNITED STATES
 3        3.0                       ANDURIL   UNITED STATES
 4        4.0                          BOLT         ESTONIA
 ...      ...                           ...             ...
 4995  4995.0             MERCHANTS BANCORP             USA
 4996  4996.0  HANGZHOU SHUNWANG TECHNOLOGY           CHINA
 4997  4997.0                    ODONTOPREV          BRAZIL
 4998  4998.0                    VALNEVA SE          FRANCE
 4999  4999.0                     ASCENTIAL  UNITED-KINGDOM

                           sector  founded     marketcap  revenue  employees  \
 0                  CYBERSECURITY   2015.0           NaN      NaN        NaN
 1                        FINTECH   2010.0           NaN      NaN        NaN
 2                         HEALTH   2015.0           NaN      NaN        NaN
 3        ARTIFICIAL INTELLIGENCE   2017.0           NaN      NaN        NaN
 4          AUTO & TRANSPORTATION   2013.0           NaN      NaN        NaN
 ...                          ...      ...           ...      ...        ...
 4995   BANKS FINANCIAL-SERVICES       NaN  1.100000e+09      NaN        NaN
 4996  VIDEO-GAMES ENTERTAINMENT       NaN  1.110000e+09      NaN        NaN
 4997                         NaN      NaN  1.100000e+09      NaN        NaN
 4998    PHARMACEUTICALS BIOTECH       NaN  1.100000e+09      NaN        NaN
 4999                ADVERTISING       NaN  1.110000e+09      NaN        NaN

       links  ceo
 0       NaN  NaN
 1       NaN  NaN
 2       NaN  NaN
 3       NaN  NaN
 4       NaN  NaN
 ...     ...  ...
 4995    NaN  NaN
 4996    NaN  NaN
 4997    NaN  NaN
 4998    NaN  NaN
 4999    NaN  NaN

 [5000 rows x 10 columns],
           ID                          name              country  \
 5000  5000.0            NICOLET BANKSHARES                  USA
 5001  5001.0           PATRIZIA IMMOBILIEN              GERMANY
 5002  5002.0                  CVR PARTNERS                  USA
 5003  5003.0          SUN COUNTRY AIRLINES                  USA
 5004  5004.0  MIRAMAR HOTEL AND INVESTMENT            HONG-KONG
 ...      ...                           ...                  ...
 9995  9995.0          EZE SOFTWARE CAREERS  GREATER BOSTON AREA
 9996  9996.0                 DELIV CAREERS           MENLO PARK
 9997  9997.0            COMMERCEIQ CAREERS        MOUNTAIN VIEW
 9998  9998.0       FIRST ADVANTAGE CAREERS              ATLANTA
 9999  9999.0               GOSHARE CAREERS            SAN DIEGO

                                  sector  founded     marketcap  revenue  \
 5000          BANKS FINANCIAL-SERVICES       NaN  1.110000e+09      NaN
 5001                       REAL-ESTATE       NaN  1.100000e+09      NaN
 5002                        FERTILIZER       NaN  1.110000e+09      NaN
 5003    AIRLINES TRAVEL TRANSPORTATION       NaN  1.100000e+09      NaN
 5004          HOTELS INVESTMENT TRAVEL       NaN  1.100000e+09      NaN
 ...                                 ...      ...           ...      ...
 9995                  COMPUTER SOFTWARE   1995.0           NaN      NaN
 9996                           INTERNET   2012.0           NaN      NaN
 9997                  COMPUTER SOFTWARE   2013.0           NaN      NaN
 9998  INFORMATION TECHNOLOGY & SERVICES   2003.0           NaN      NaN
 9999                           INTERNET   2014.0           NaN      NaN

       employees             links  ceo
 5000        NaN               NaN  NaN
 5001        NaN               NaN  NaN
 5002        NaN               NaN  NaN
 5003        NaN               NaN  NaN
 5004        NaN               NaN  NaN
 ...         ...               ...  ...
 9995      750.0   WWW.EZESOFT.COM  NaN
 9996       25.0      WWW.DELIV.CO  NaN
 9997      125.0  WWW.COMMERCEIQ.A  NaN
 9998     3000.0      WWW.FADV.COM  NaN
 9999       25.0    WWW.GOSHARE.CO  NaN

 [5000 rows x 10 columns],
             ID                         name        country  \
 10000  10000.0            SI-VISION CAREERS         LONDON
 10001  10001.0     HEALTHFIRST INC. CAREERS       NEW YORK
 10002  10002.0              TALKDOC CAREERS  SAN FRANCISCO
 10003  10003.0            CALLMINER CAREERS        WALTHAM
 10004  10004.0      ALASKA AIRLINES CAREERS        SEATTLE
 ...        ...                          ...            ...
 14995  14995.0                    RTL GROUP     LUXEMBOURG
 14996  14996.0                        KESKO        FINLAND
 14997  14997.0           SAMSUNG SECURITIES    SOUTH KOREA
 14998  14998.0              QUANTA SERVICES          TEXAS
 14999  14999.0  BEIJING CAPITAL DEVELOPMENT          CHINA

                        sector  founded  marketcap       revenue  employees  \
 10000          SEMICONDUCTORS   2007.0        NaN           NaN      350.0
 10001  HOSPITAL & HEALTH CARE   1993.0        NaN           NaN     3000.0
 10002  HOSPITAL & HEALTH CARE   2018.0        NaN           NaN       25.0
 10003       COMPUTER SOFTWARE   2002.0        NaN           NaN      350.0
 10004    AVIATION & AEROSPACE   1932.0        NaN           NaN     5000.0
 ...                       ...      ...        ...           ...        ...
 14995                   MEDIA   1973.0        NaN  7.800000e+09        NaN
 14996            FOOD MARKETS   1940.0        NaN  1.340000e+10        NaN
 14997  DIVERSIFIED FINANCIALS   1982.0        NaN  2.100000e+09        NaN
 14998            CONSTRUCTION   1997.0        NaN  1.300000e+10        NaN
 14999            CONSTRUCTION   1993.0        NaN  1.000000e+10        NaN

                      links  ceo
 10000    WWW.SI-VISION.COM  NaN
 10001  WWW.HEALTHFIRST.ORG  NaN
 10002       WWW.TALKDOC.CO  NaN
 10003    WWW.CALLMINER.COM  NaN
 10004    WWW.ALASKAAIR.COM  NaN
 ...                    ...  ...
 14995                  NaN  NaN
 14996                  NaN  NaN
 14997                  NaN  NaN
 14998                  NaN  NaN
 14999                  NaN  NaN

 [5000 rows x 10 columns],
             ID                              name     country  \
 15000  15000.0                  FAR EAST HORIZON   HONG KONG
 15001  15001.0                          FAURECIA      FRANCE
 15002  15002.0            INDIAN RAILWAY FINANCE       INDIA
 15003  15003.0                 LIBERTY BROADBAND    COLORADO
 15004  15004.0  XIAMEN INTERNATIONAL TRADE GROUP       CHINA
 ...        ...                               ...         ...
 19995  19995.0                             NUVEI      CANADA
 19996  19996.0            COCA-COLA CONSOLIDATED         USA
 19997  19997.0    COMPANHIA SIDERÃšRGICA NACIONAL      BRAZIL
 19998  19998.0                        CYBERAGENT       JAPAN
 19999  19999.0                           WAYFAIR         USA

                                       sector  founded     marketcap  \
 15000           BUSINESS SERVICES & SUPPLIES   2008.0           NaN
 15001  AUTOMOTIVE (AUTOMOTIVE AND SUPPLIERS)   1997.0           NaN
 15002           BUSINESS SERVICES & SUPPLIES   1986.0           NaN
 15003            TELECOMMUNICATIONS SERVICES   1991.0           NaN
 15004                      TRADING COMPANIES      NaN           NaN
 ...                                      ...      ...           ...
 19995                                    NaN      NaN  4.630000e+09
 19996                                    NaN      NaN  4.630000e+09
 19997                                    NaN      NaN  4.630000e+09
 19998                                    NaN      NaN  4.630000e+09
 19999                                    NaN      NaN  4.630000e+09

             revenue  employees  links  ceo
 15000  5.500000e+09        NaN    NaN  NaN
 15001  1.850000e+10        NaN    NaN  NaN
 15002  2.500000e+09        NaN    NaN  NaN
 15003  9.880000e+08        NaN    NaN  NaN
 15004  7.200000e+10        NaN    NaN  NaN
 ...             ...        ...    ...  ...
 19995           NaN        NaN    NaN  NaN
 19996           NaN        NaN    NaN  NaN
 19997           NaN        NaN    NaN  NaN
 19998           NaN        NaN    NaN  NaN
 19999           NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                              name        country  \
 20000  20000.0               IAC/INTERACTIVECORP            USA
 20001  20001.0               FOX FACTORY HOLDING            USA
 20002  20002.0                       KITE REALTY            USA
 20003  20003.0  INTERMEDIATE CAPITAL GROUP (ICG)             UK
 20004  20004.0                               AAK         SWEDEN
 ...        ...                               ...            ...
 24995  24995.0                            AXA SA         FRANCE
 24996  24996.0             DOMINION ENERGY, INC.  UNITED STATES
 24997  24997.0                          ENEL SPA          ITALY
 24998  24998.0                    BNP PARIBAS SA         FRANCE
 24999  24999.0     AMÃ‰RICA MÃ“VIL, S.A.B. DE C.V.         MEXICO

                        sector  founded     marketcap  revenue  employees  \
 20000                     NaN      NaN  4.630000e+09      NaN        NaN
 20001                     NaN      NaN  4.620000e+09      NaN        NaN
 20002                     NaN      NaN  4.610000e+09      NaN        NaN
 20003                     NaN      NaN  4.610000e+09      NaN        NaN
 20004                     NaN      NaN  4.600000e+09      NaN        NaN
 ...                       ...      ...           ...      ...        ...
 24995              FINANCIALS      NaN  7.020000e+10      NaN        NaN
 24996               UTILITIES      NaN  7.020000e+10      NaN        NaN
 24997               UTILITIES      NaN  7.015000e+10      NaN        NaN
 24998              FINANCIALS      NaN  6.990000e+10      NaN        NaN
 24999  COMMUNICATION SERVICES      NaN           NaN      NaN        NaN

        links  ceo
 20000    NaN  NaN
 20001    NaN  NaN
 20002    NaN  NaN
 20003    NaN  NaN
 20004    NaN  NaN
 ...      ...  ...
 24995    NaN  NaN
 24996    NaN  NaN
 24997    NaN  NaN
 24998    NaN  NaN
 24999    NaN  NaN

 [5000 rows x 10 columns],
             ID                                         name        country  \
 25000  25000.0                               PUBLIC STORAGE  UNITED STATES
 25001  25001.0                                 UBS GROUP AG    SWITZERLAND
 25002  25002.0                      SBERBANK OF RUSSIA PJSC         RUSSIA
 25003  25003.0                                 FISERV, INC.  UNITED STATES
 25004  25004.0                                IBERDROLA, SA          SPAIN
 ...        ...                                          ...            ...
 29995  29995.0             TIANJIN CHASE SUN PHARMACEUTICAL          CHINA
 29996  29996.0                PGE POLSKA GRUPA ENERGETYCZNA         POLAND
 29997  29997.0                                  CIMIC GROUP      AUSTRALIA
 29998  29998.0  BANGKOK EXPRESSWAY AND METRO PUBLIC COMPANY       THAILAND
 29999  29999.0                  DMG MORI AKTIENGESELLSCHAFT        GERMANY

             sector  founded     marketcap  revenue  employees  links  ceo
 25000  REAL ESTATE      NaN  6.931000e+10      NaN        NaN    NaN  NaN
 25001   FINANCIALS      NaN  6.893000e+10      NaN        NaN    NaN  NaN
 25002   FINANCIALS      NaN  6.869000e+10      NaN        NaN    NaN  NaN
 25003   TECHNOLOGY      NaN  6.868000e+10      NaN        NaN    NaN  NaN
 25004    UTILITIES      NaN  6.823000e+10      NaN        NaN    NaN  NaN
 ...            ...      ...           ...      ...        ...    ...  ...
 29995          NaN      NaN  2.019000e+09      NaN        NaN    NaN  NaN
 29996          NaN      NaN  5.023000e+09      NaN        NaN    NaN  NaN
 29997          NaN      NaN  4.897000e+09      NaN        NaN    NaN  NaN
 29998          NaN      NaN  4.004000e+09      NaN        NaN    NaN  NaN
 29999          NaN      NaN  3.925000e+09      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                                             name    country  \
 30000  30000.0                       CHINA TRANSINFO TECHNOLOGY      CHINA
 30001  30001.0                                   AMERIS BANCORP        USA
 30002  30002.0                                      HILLENBRAND        USA
 30003  30003.0                               ZARDOYA OTIS, S.A.      SPAIN
 30004  30004.0               TASLY PHARMACEUTICAL GROUP CO. LTD      CHINA
 ...        ...                                              ...        ...
 34995  34995.0                PT METRO HEALTHCARE INDONESIA TBK  INDONESIA
 34996  34996.0                                RAPT THERAPEUTICS        USA
 34997  34997.0                          STANDARD MOTOR PRODUCTS        USA
 34998  34998.0  CHINA TRAVEL INTERNATIONAL INVESTMENT HONG KONG  HONG KONG
 34999  34999.0                                         FLEX LNG    BERMUDA

        sector  founded     marketcap  revenue  employees  links  ceo
 30000     NaN      NaN  3.664000e+09      NaN        NaN    NaN  NaN
 30001     NaN      NaN  3.435000e+09      NaN        NaN    NaN  NaN
 30002     NaN      NaN  3.390000e+09      NaN        NaN    NaN  NaN
 30003     NaN      NaN  3.116000e+09      NaN        NaN    NaN  NaN
 30004     NaN      NaN  3.013000e+09      NaN        NaN    NaN  NaN
 ...       ...      ...           ...      ...        ...    ...  ...
 34995     NaN      NaN  9.730000e+08      NaN        NaN    NaN  NaN
 34996     NaN      NaN  9.640000e+08      NaN        NaN    NaN  NaN
 34997     NaN      NaN  9.530000e+08      NaN        NaN    NaN  NaN
 34998     NaN      NaN  8.210000e+08      NaN        NaN    NaN  NaN
 34999     NaN      NaN  8.210000e+08      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                                         name    country sector  \
 35000  35000.0  HANGZHOU ELECTRONIC SOUL NETWORK TECHNOLOGY      CHINA    NaN
 35001  35001.0                         URBAN LOGISTICS REIT         UK    NaN
 35002  35002.0                                 MSG NETWORKS        USA    NaN
 35003  35003.0        STAIDSON (BEIJING) BIOPHARMACEUTICALS      CHINA    NaN
 35004  35004.0                                       SUNWAY      CHINA    NaN
 ...        ...                                          ...        ...    ...
 39995  39995.0                            ICAHN ENTERPRISES        USA    NaN
 39996  39996.0             SAUDI ARABIAN FERTILIZER COMPANY  S. ARABIA    NaN
 39997  39997.0                            CHONGQING CHANGAN      CHINA    NaN
 39998  39998.0                                     TSINGTAO      CHINA    NaN
 39999  39999.0                                          ZTE      CHINA    NaN

        founded     marketcap  revenue  employees  links  ceo
 35000      NaN  8.080000e+08      NaN        NaN    NaN  NaN
 35001      NaN  8.030000e+08      NaN        NaN    NaN  NaN
 35002      NaN  8.410000e+08      NaN        NaN    NaN  NaN
 35003      NaN  7.880000e+08      NaN        NaN    NaN  NaN
 35004      NaN  5.050000e+08      NaN        NaN    NaN  NaN
 ...        ...           ...      ...        ...    ...  ...
 39995      NaN  1.704000e+10      NaN        NaN    NaN  NaN
 39996      NaN  1.694000e+10      NaN        NaN    NaN  NaN
 39997      NaN  1.694000e+10      NaN        NaN    NaN  NaN
 39998      NaN  1.692000e+10      NaN        NaN    NaN  NaN
 39999      NaN  1.692000e+10      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                   name      country  sector  founded  \
 40000  40000.0          SWEDISH MATCH       SWEDEN     NaN      NaN
 40001  40001.0                GEBERIT  SWITZERLAND     NaN      NaN
 40002  40002.0            LIVE NATION          USA     NaN      NaN
 40003  40003.0           SUZUKI MOTOR        JAPAN     NaN      NaN
 40004  40004.0               AVANGRID          USA     NaN      NaN
 ...        ...                    ...          ...     ...      ...
 44995  44995.0        THE JOINT CORP.          USA     NaN      NaN
 44996  44996.0              URBAN ONE          USA     NaN      NaN
 44997  44997.0  KIMBALL INTERNATIONAL          USA     NaN      NaN
 44998  44998.0   BIG 5 SPORTING GOODS          USA     NaN      NaN
 44999  44999.0                  BANK7          USA     NaN      NaN

           marketcap  revenue  employees  links  ceo
 40000  1.691000e+10      NaN        NaN    NaN  NaN
 40001  1.688000e+10      NaN        NaN    NaN  NaN
 40002  1.687000e+10      NaN        NaN    NaN  NaN
 40003  1.683000e+10      NaN        NaN    NaN  NaN
 40004  1.682000e+10      NaN        NaN    NaN  NaN
 ...             ...      ...        ...    ...  ...
 44995  2.300000e+08      NaN        NaN    NaN  NaN
 44996  2.300000e+08      NaN        NaN    NaN  NaN
 44997  2.300000e+08      NaN        NaN    NaN  NaN
 44998  2.300000e+08      NaN        NaN    NaN  NaN
 44999  2.300000e+08      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                      name     country                sector  \
 45000  45000.0          TEN SQUARE GAMES      POLAND                   NaN
 45001  45001.0      E INC (E AUTOMOTIVE)      CANADA                   NaN
 45002  45002.0                  RALLYBIO         USA                   NaN
 45003  45003.0           ALEMBIC LIMITED       INDIA                   NaN
 45004  45004.0      VINTAGE WINE ESTATES         USA                   NaN
 ...        ...                       ...         ...                   ...
 49995  49995.0                     BAYWA      MUNICH     FARMING & FISHING
 49996  49996.0  BBS KRAFTFAHRZEUGTECHNIK   SCHILTACH            AUTO PARTS
 49997  49997.0                   BECHTLE  NECKARSULM              SOFTWARE
 49998  49998.0            BECK'S BREWERY      BREMEN               BREWERS
 49999  49999.0        BEHR GMBH & CO. KG   STUTTGART  INDUSTRIAL SUPPLIERS

        founded    marketcap  revenue  employees  links  ceo
 45000      NaN  230000000.0      NaN        NaN    NaN  NaN
 45001      NaN  230000000.0      NaN        NaN    NaN  NaN
 45002      NaN  230000000.0      NaN        NaN    NaN  NaN
 45003      NaN  230000000.0      NaN        NaN    NaN  NaN
 45004      NaN  230000000.0      NaN        NaN    NaN  NaN
 ...        ...          ...      ...        ...    ...  ...
 49995   1923.0          NaN      NaN        NaN    NaN  NaN
 49996   1970.0          NaN      NaN        NaN    NaN  NaN
 49997   1983.0          NaN      NaN        NaN    NaN  NaN
 49998   1873.0          NaN      NaN        NaN    NaN  NaN
 49999   1905.0          NaN      NaN        NaN    NaN  NaN

 [5000 rows x 10 columns],
             ID                      name               country  \
 50000  50000.0                 BEHRINGER               WILLICH
 50001  50001.0                BEIERSDORF               HAMBURG
 50002  50002.0      BELLEVUE INVESTMENTS                BERLIN
 50003  50003.0            BENECKE-KALIKO               HANOVER
 50004  50004.0               BERTELSMANN             GÃœTERSLOH
 ...        ...                       ...                   ...
 54995  54995.0                       KIA           SOUTH KOREA
 54996  54996.0                   ALEMBIC                   NaN
 54997  54997.0   TATA ADVANCED MATERIALS                 INDIA
 54998  54998.0  SERVION GLOBAL SOLUTIONS   UNITED STATES (USA)
 54999  54999.0            ONKAR INFOTECH                 INDIA

                              sector  founded  marketcap  revenue  employees  \
 50000          CONSUMER ELECTRONICS   1989.0        NaN      NaN        NaN
 50001             PERSONAL PRODUCTS   1882.0        NaN      NaN        NaN
 50002                      SOFTWARE   1993.0        NaN      NaN        NaN
 50003          INDUSTRIAL SUPPLIERS   1718.0        NaN      NaN        NaN
 50004  BROADCASTING & ENTERTAINMENT   1835.0        NaN      NaN        NaN

In [ ]:
indexer = recordlinkage.index.Full()
i = 0
for chunk in chunk_slice1:

    pairs_subset = indexer.index(final, chunk)
    first_pairs_subsets.append(pairs_subset)
    print("Paired chunk:" + str(i))
    i += 1

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.
Paired chunk:0
Paired chunk:1
Paired chunk:2
Paired chunk:3
Paired chunk:4
Paired chunk:5
Paired chunk:6
Paired chunk:7
Paired chunk:8
Paired chunk:9
Paired chunk:10
Paired chunk:11

indexer = recordlinkage.index.Full()
i = 0
for chunk in chunk_slice1:
    pairs_subset = indexer.index(final, chunk)
    df = pairs_subset.to_frame()
    df.to_csv('./src/pairs_subsets/pairs_subset{}.csv'.format(i))
    first_pairs_subsets.append(pairs_subset)
    print("Paired chunk:" + str(i))
    i += 1

In [ ]:
first_pairs_subsets

In [ ]:
for chunk in chunk_slice2:

    # a subset of record pairs
    pairs_subset = indexer.index(final, chunk)
    second_pairs_subsets.append(pairs_subset)
    print("Paired chunk:" + str(i))
    i += 1