In [1]:
import recordlinkage
import pandas as pd
import numpy
from recordlinkage.base import BaseIndexAlgorithm
import time

In [82]:
final = pd.read_csv("./src/final_dataset.csv")

In [83]:
final = final.drop(columns=['Unnamed: 0'])

In [84]:
final.head()

,Unnamed: 0,name,country,sector,founded,marketcap,revenue,employees,links,ceo
0,0.0,LACEWORK,UNITED STATES,CYBERSECURITY,2015.0,NaN,NaN,NaN,NaN,NaN
1,1.0,TIPALTI,UNITED STATES,FINTECH,2010.0,NaN,NaN,NaN,NaN,NaN
2,2.0,TEMPUS,UNITED STATES,HEALTH,2015.0,NaN,NaN,NaN,NaN,NaN
3,3.0,ANDURIL,UNITED STATES,ARTIFICIAL INTELLIGENCE,2017.0,NaN,NaN,NaN,NaN,NaN
4,4.0,BOLT,ESTONIA,AUTO & TRANSPORTATION,2013.0,NaN,NaN,NaN,NaN,NaN

In [44]:
final["name"]

0                                           LACEWORK
1                                            TIPALTI
2                                             TEMPUS
3                                            ANDURIL
4                                               BOLT
                             ...
173029                      SOFTBANK ROBOTICS UK LTD
173030                               COMUNE DI VOLLA
173031    SUDDATH RELOCATION SYSTEMS OF ORLANDO, INC
173032                          MIDASPLAYER.COM LTD.
173033                                  DRILLMEC SPA
Name: name, Length: 173034, dtype: object

In [85]:
len(final)

173034

In [86]:
sorted_final = final.sort_values('name')

In [87]:
sorted_final = sorted_final.reset_index(drop=True)

In [88]:
sorted_final.head()

,Unnamed: 0,name,country,sector,founded,marketcap,revenue,employees,links,ceo
0,5720.0,\nADDUS HOMECARE,USA,NaN,NaN,1.690000e+09,NaN,NaN,NaN,NaN
1,148737.0,#SINOB,GERMANY,RETAIL,2015.0,NaN,4.0,14.0,HTTPS://WWW.SINOB.DE/,NaN
2,66863.0,(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIN,SPAIN,NaN,NaN,8.700000e+08,NaN,NaN,NaN,NaN
3,43845.0,(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN,SPAIN,NaN,NaN,8.200000e+08,NaN,NaN,NaN,NaN
4,111815.0,(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN,SPAIN,NaN,NaN,8.200000e+08,NaN,NaN,NaN,NaN

In [49]:
sorted_final.loc[0]

Unnamed: 0              5720.0
name          \nADDUS HOMECARE
country                    USA
sector                     NaN
founded                    NaN
marketcap         1690000000.0
revenue                    NaN
employees                  NaN
links                      NaN
ceo                        NaN
Name: 0, dtype: object

In [89]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [90]:
similar("USA", "UNITED STATES")

0.375

In [91]:
class CustomIndex(BaseIndexAlgorithm):
    def _link_index(self, df_a, df_b):
        t0 = time.time()
        indici1=[]
        indici2=[]
        for i in range(0, len(final)):
            if(i%500 == 0):
                print(i)
            if(i<100):
                for j in range(0, (i+100)):
                    if(similar(df_a.loc[i, 'name'], df_a.loc[j, 'name'])>0.35):
                        indici1.append(i)
                        indici2.append(j)
                if(i<10):
                    print(df_a.loc[i,'name'])
            elif(i>172932):
                for j in range((i-100), len(final)):
                    if(similar(df_a.loc[i, 'name'], df_a.loc[j, 'name'])>0.35):
                        indici1.append(i)
                        indici2.append(j)
            else:
                for j in range((i-100), (i+100)):
                    if(similar(df_a.loc[i, 'name'], df_a.loc[j, 'name'])>0.35):
                        indici1.append(i)
                        indici2.append(j)
        
        indici = [indici1, indici2]
        t1 = time.time()
        print(t1-t0)
        return pd.MultiIndex.from_arrays(indici, names=('first', 'second'))

In [92]:
indexer = CustomIndex()
candidate_pairs = indexer.index(sorted_final, sorted_final)

0

ADDUS HOMECARE
#SINOB
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(DIA) DISTRIBUIDORA INTERNACIONAL DE ALIMENTACIÓN
(HLBANK) HONG LEONG BANK
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000
72500
73000
73500
74000
74500
75000
75500
76000
76500
77000
77500
78000
78500
79000
79500
80000
80500
81000
81500
82000
82500
83000
83500
84000
84500
85000
85500
86000
86500
87000
87500
88000
88500
89000
89500
90000
90500
91000
91500
92000
92500
93000
93500
94000
94500
95000
95500
96000
96500
97000
97500
98000
98500
99000
99500
100000
100500
101000
101500
102000
102500
103000
103500
104000
104500
105000
105500
106000
106500
107000
107500
108000
108500
109000
109500
110000
110500
111000
111500
112000
112500
113000
113500
114000
114500
115000
115500
116000
116500
117000
117500
118000
118500
119000
119500
120000
120500
121000
121500
122000
122500
123000
123500
124000
124500
125000
125500
126000
126500
127000
127500
128000
128500
129000
129500
130000
130500
131000
131500
132000
132500
133000
133500
134000
134500
135000
135500
136000
136500
137000
137500
138000
138500
139000
139500
140000
140500
141000
141500
142000
142500
143000
143500
144000
144500
145000
145500
146000
146500
147000
147500
148000
148500
149000
149500
150000
150500
151000
151500
152000
152500
153000
153500
154000
154500
155000
155500
156000
156500
157000
157500
158000
158500
159000
159500
160000
160500
161000
161500
162000
162500
163000
163500
164000
164500
165000
165500
166000
166500
167000
167500
168000
168500
169000
169500
170000
170500
171000
171500
172000
172500
173000
1844.9150037765503

In [94]:
candidate_df = candidate_pairs.to_frame()

In [96]:
candidate_df.head()

      0   1
0 0   0   0
  90  0  90
  93  0  93
1 1   1   1
2 2   2   2

In [100]:
candidate_pairs

MultiIndex([(     0,      0),
            (     0,     90),
            (     0,     93),
            (     1,      1),
            (     2,      2),
            (     2,      3),
            (     2,      4),
            (     2,      5),
            (     2,      6),
            (     2,      7),
            ...
            (173032, 172997),
            (173032, 172998),
            (173032, 172999),
            (173032, 173000),
            (173032, 173028),
            (173032, 173029),
            (173032, 173030),
            (173032, 173031),
            (173032, 173032),
            (173033, 173033)],
           length=18650932)

In [95]:
candidate_df.to_csv("./src/candidate_pairs.csv")

In [105]:
candidate_df = pd.read_csv("./src/candidate_pairs.csv")

In [106]:
candidate_df

          Unnamed: 0  Unnamed: 1       0       1
0                  0           0       0       0
1                  0          90       0      90
2                  0          93       0      93
3                  1           1       1       1
4                  2           2       2       2
...              ...         ...     ...     ...
18650927      173032      173029  173032  173029
18650928      173032      173030  173032  173030
18650929      173032      173031  173032  173031
18650930      173032      173032  173032  173032
18650931      173033      173033  173033  173033

[18650932 rows x 4 columns]

In [108]:
candidate_df = candidate_df.drop(columns=['0', '1'])

In [112]:
candidate_df = candidate_df.rename(columns={"Unnamed: 0": "r1", "Unnamed: 1": "r2"})

In [113]:
candidate_df.head()

   r1  r2
0   0   0
1   0  90
2   0  93
3   1   1
4   2   2

In [114]:
candidate_pairs = pd.MultiIndex.from_frame(candidate_df, names=['state', 'observation'])

In [115]:
candidate_pairs

MultiIndex([(     0,      0),
            (     0,     90),
            (     0,     93),
            (     1,      1),
            (     2,      2),
            (     2,      3),
            (     2,      4),
            (     2,      5),
            (     2,      6),
            (     2,      7),
            ...
            (173032, 172997),
            (173032, 172998),
            (173032, 172999),
            (173032, 173000),
            (173032, 173028),
            (173032, 173029),
            (173032, 173030),
            (173032, 173031),
            (173032, 173032),
            (173033, 173033)],
           names=['state', 'observation'], length=18650932)

In [116]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', label='name')
compare.string('country', 'country', method='jarowinkler', label='country', missing_value = 0.1)
compare.string('sector', 'sector', label='sector', method='jarowinkler', missing_value = 0.1)
compare.exact('founded', 'founded', missing_value = 0.1, label = 'founded')
compare.exact('marketcap', 'marketcap', missing_value = 0.1, label = 'marketcap')
compare.exact('revenue', 'revenue', missing_value = 0.1, label = 'revenue')
compare.exact('employees', 'employees', missing_value = 0.1, label = 'employees')
compare.string('links', 'links', method='jarowinkler', label='links', missing_value = 0.1)
compare.string('ceo', 'ceo', method='jarowinkler', label='ceo', missing_value = 0.1)

In [117]:
training_features = compare.compute(candidate_pairs, sorted_final, sorted_final)

In [118]:
training_features['score'] = training_features.loc[:, 'name':'ceo'].sum(axis=1)

In [ ]:
training_matches = training_features[training_features.sum(axis=1) > 2].reset_index()

In [ ]:
training_matches.to_csv("./src/prova_matching.csv")

In [81]:
training_matches.head(1205572)

,Unnamed: 0,Unnamed: 1,name,country,sector,founded,marketcap,revenue,employees,links,ceo,score
0,0,90,0.548990,0.477778,0.1,0.1,0.1,0.1,0.1,0.1,0.1,1.726768
1,0,93,0.533333,0.500000,0.1,0.1,0.1,0.1,0.1,0.1,0.1,1.733333
2,1,1,1.000000,1.000000,1.0,1.0,0.1,1.0,1.0,1.0,0.1,7.200000
3,2,2,1.000000,1.000000,0.1,0.1,1.0,0.1,0.1,0.1,0.1,3.600000
4,2,3,0.995918,1.000000,0.1,0.1,0.0,0.1,0.1,0.1,0.1,2.595918
...,...,...,...,...,...,...,...,...,...,...,...,...
1205567,11238,11146,0.590909,0.470085,0.1,0.1,0.1,0.1,0.1,0.1,0.1,1.760995
1205568,11238,11147,0.590909,0.470085,0.1,0.1,0.1,0.1,0.1,0.1,0.1,1.760995
1205569,11238,11155,0.674592,0.666667,0.1,0.1,0.1,0.1,0.1,0.1,0.1,2.041259
1205570,11238,11156,0.618687,1.000000,0.1,0.1,0.0,0.1,0.1,0.1,0.1,2.218687
1205571,11238,11157,0.618687,1.000000,0.1,0.1,0.0,0.1,0.1,0.1,0.1,2.218687